html {
    font-size: 1rem; 
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url("./images/Grey.JPG");
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

header {
    text-align: start;
    font-size: 35px;
    font-weight: bold;
}

form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 25px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid silver;
    background-color: #FFF;
    padding: 5px;
    font-size: 20px;
}

.form-item button:hover {
    border: 2px solid darkslategrey;
    background-color: darkgrey;
    color: #FFF;
}

.form-item button {
    width: 100px;
}

.footer__social-image {
    width: 50px;
}

.footer__social {
    display: flex;
    justify-content: center;
    list-style: none;
    }

.photo {
    display: block; 
    margin-left: auto;  
    margin-right: auto;  
    border-radius: 1200px; 
    width: 40%;
    height: auto;
    }

    @media only screen and (max-width: 480px) {
        img {
          width: 100%;
        }
      }   


@media (min-width: 500px) {
    div {
        width: 100%;
        font-size: 1rem;
    }
}

@media (min-width: 900px) {
    div {
        width: 100%;
        font-size: 2rem;
    }
}

@media (min-width: 1400px) {
    div {
         width: 100%;
        font-size: 1.5rem;
 }
}


a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
    font-weight: 800;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
    font-weight: 800;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 800;
  }
  
  a:active {
    color: rgb(38, 0, 255);
    background-color: transparent;
    text-decoration: underline;
    font-weight: 800;
  }